.test {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

input[type=checkbox] {
    cursor: pointer;

}

dialog button{
    cursor: pointer;
    
}

